/*#Edits to bootstrap css can be found by 'bootstrap class'-kelp i.e. card-body-kelp*/

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.frontpage-header {
  padding-top: 30px;
  height: 570px;
  background-color: limegreen;
}
.frontpage-header-logo {
  margin: 3rem 0px;
}
.frontpage-header-search {
  font-size: 20px;
}
.searchpage-header {
  height: 100px;
  background-color: limegreen;
  background-size: cover;
  padding-top: 10px;
}
.searchpage-header-logo {
  width: 5rem;
  margin-right: 1rem;
}
.searchpage-header-search-button {
  background-color: green;
  height: 30px;
  width: 40px;
  border-style: none;
  border-radius: 0 5px 5px 0;
}
.searchpage-header-search-button > img {
  max-width: 20px;
}
.searchpage-results-header {
  background-color: #f5f5f5;
  height: 150px;
  padding: 10px 0px;
}
.card-image-top-kelp {
  height: 198px;
}
.card-kelp {
  margin: 10px 0;
}
.card-body-kelp {
  padding: .75rem .5rem;
}
.card-title-kelp {
  font-weight: bold;
}
.card-text-kelp {
  font-size: .75rem;
}
.i-stars {
  background: url(https://s3-media2.fl.yelpcdn.com/assets/srv0/yelp_design_web/9b34e39ccbeb/assets/img/stars/stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: bottom;
}

/*small rating size is 14px 82px */
/*mid rating size is 14px 82px */
/*big rating size is 14px 82px */
.i-stars-temp {
  width: 82px; /*small rating size is 14px 82px */
  height: 14px;
  background-position: 0 -532px;
  overflow: hidden;
}